@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
    text-align: left;
}

label {
margin-right: .3em;
width: 5.3em; /* I made this deliberately wide – come up with your own
optimal width */
height: 2em;
display: inline-block; /* width will not work for “inline” elements such as
“label”. Therefore we need to set it to “inline-block” */
}

#formcol1 li {
list-style:none;
}

#formcol1 input.reqfield {
    background:#FF9;
}

select:focus, select:active, input:focus, input:active, input:focus + label,
input:active + label, label[for]:focus, label[for]:active {
color: #FFF !important;
background-color: #BB3D2F !important;}

fieldset{
    border-color: #BB3D2F;
}

h1 {
    color: #BB3D2F;
    font-size: 35px;
}

legend {
    font-size: 20px;
}


/* end of form css */