body {
  font-family: sans-serif;
  padding: 20px;
}

hr {
  border: 2px dashed rgb(245,212,103);
}

h1 {
  color: darkblue;
}

h2 {
  color: rgb(63,107,176);
}

strong {
  color: rgb(84,111,156);
}

ul {
  color: rgb(84,111,156);
  list-style-type: circle;
}

ol {
  color: rgb(84,111,156);
  list-style-type: lower-alpha;
}

dd {
  margin: 20px;
}